@using Microsoft.AspNet.Identity
@model IPagedList<ME_BlogProject.Models.BlogPost>
@using ME_BlogProject.Models
@using PagedList
@using PagedList.Mvc


@{
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var user = db.Users.Find(userId);
}


<!--/ Section Blog Star /-->
<br />
<br />
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            @if (User.IsInRole("Admin"))
            {
                @*<div class="container">*@
                    <p></p>
                    <a href="@Url.Action("Create", "BlogPosts")"><div class="btn btn-primary align-top">Create Blog Post</div></a>
                @*</div>*@
            }
        </div>
        <div class="col-md-3">
            @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
            {
                @*<div class="container">*@
                    <div class="controls controls-row search-row">
                        <input id="searchStr" name="searchStr" class="input-group-sm" type="text" placeholder="Search" />
                        <button id="searchStr" name="searchStr" class="btn btn-outline-primary fa fa-search" type="submit">
                        </button>

                    </div>
                @*</div>*@
            }
        </div>
    </div>
</div>

<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        @*<div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Blog
                        </h3>
                        <p class="subtitle-a">
                            See my journey at Coder Foundry.
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>*@
        <!--/ Blog 1 /-->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="@Url.Action("Details", "BlogPosts",new { Slug = item.Slug })"></a>

                            @if (item.MediaUrl != null)
                            {
                                <img src="@item.MediaUrl" alt="" class="img-fluid" alt="" />

                            }
                        </div>
                        <div class="card-body">
                            @*<div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">Travel</h6>
                                    </div>
                                </div>*@
                            <h3 class="card-title"><a href="@Url.Action("Details", "BlogPosts",new { Slug = item.Slug })">@item.Title</a></h3>
                            <p class="card-description">@Html.Raw(item.Body) </p>
                        </div>
                        <div class="card-footer">
                            <div class="post-author">
                                <a href="#">
                                    <img src="~/Template/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                    <span class="author">Marc Ellis</span>
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="ion-ios-clock-outline">@item.Created.ToString("MM/dd/yy")</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--/ Blog 2/-->
        @*<div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="img/post-2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Web Design</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>
                        <p class="card-description">
                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                            a pellentesque nec,
                            egestas non nisi.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">Morgan Freeman</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 min
                        </div>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 offset-10">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
            </div>
        </div>
    </div>
</section>
<!--/ Section Blog End /-->
@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-xs" })
        }

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.Raw(item.Body)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MediaUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { slug = item.Slug }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
    }

    </table>*@
